<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.datacomp.magicfinmart">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splashscreen.SplashScreenActivity"
            android:label="@string/title_activity_home"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".splashscreen.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.datacomp.magicfinmart.splashscreen.SplashScreenActivity" />
        </activity>
        <activity
            android:name=".motor.privatecar.PrivateCarDetailActivity"
            android:label="@string/title_activity_private_car_detail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".register.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".login.LoginActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.datacomp.magicfinmart.login.LoginActivity" />
        </activity>
        <activity
            android:name=".introslider.WelcomeActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".myaccount.MyAccountActivity"
            android:label="@string/title_myaccount"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".posp.PospEnrollment"
            android:label="@string/title_pospenrollment"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".loan_fm.personalloan.PersonalLoanDetailActivity"
            android:label="@string/title_activity_personal_loan_detail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".loan_fm.personalloan.addquote.AddQuoteActivity_PL"
            android:label="@string/title_activity_add_quote__pl"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".loan_fm.personalloan.addquote.PersonalLoanActivity"
            android:label="@string/title_activity_add_plquote"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".motor.privatecar.addquote.AddQuoteActivity"
            android:label="@string/title_activity_add_new_quote"
            android:parentActivityName=".motor.privatecar.PrivateCarDetailActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.datacomp.magicfinmart.motor.privatecar.PrivateCarDetailActivity" />
        </activity>
        <activity
            android:name=".motor.privatecar.addquote.QuoteActivity"
            android:label="@string/title_activity_quote"
            android:parentActivityName=".motor.privatecar.addquote.AddQuoteActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.datacomp.magicfinmart.motor.privatecar.addquote.AddQuoteActivity" />
        </activity>
        <activity
            android:name=".webviews.CommonWebViewActivity"
            android:label="@string/title_activity_common_web_view"
            android:parentActivityName=".motor.privatecar.addquote.QuoteActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.datacomp.magicfinmart.motor.privatecar.addquote.QuoteActivity" />
        </activity>
        <activity
            android:name=".motor.privatecar.addquote.PremiumBreakUpActivity"
            android:label="@string/title_activity_premium_break_up"
            android:parentActivityName=".motor.privatecar.addquote.QuoteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.datacomp.magicfinmart.motor.privatecar.addquote.QuoteActivity" />
        </activity>
    </application>

</manifest>